# Data Processing & Analysis
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0

# Geospatial & Mapping
osmnx==1.9.3
geopandas==0.14.4
shapely==2.0.4
folium==0.20.0
libpysal
esda

# Machine Learning & Optimization
xgboost==2.0.3
optuna==3.6.1

# Explainable AI (XAI)
shap==0.45.1

# Visualization
matplotlib==3.9.0

# Utilities
requests

# Web Dashboard
# streamlit==1.35.0
# streamlit-folium==0.21.0
